@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

body{
	width: 600px;
	margin: 2% auto;
    background: url(../img-content/zzz.png) no-repeat center center fixed;
}


header {
    width: 50%;
    margin: 4% 24%;
}

h1{
    font-size: 45px;
    float: left;
    margin-left: 4%;
}

nav img {
    width: 14%;
    float: left;
}

#logos-classes-cartes img{
    width: 17%;
    margin-bottom: 9%;
     -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

#logos-classes-cartes img:hover {
    opacity: 0.5;
    width: 24%;
}



#logos-classes-cartes{
    width: 150%;
    margin-left: -14%;
    margin-top: 10%
}


